<ion-header>
  <ion-toolbar color="success">
    <ion-button fill="clear" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Dernière Animation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://cdn.pixabay.com/photo/2012/04/13/19/02/france-33296_960_720.png" >
  <ion-card>
    <ion-card-content>
      <p>Adresse : 5 rue des chapeaux</p>
      <p>Complément : </p>
      <P> Quartier : Les praires</P>
      <P>Code Postal : 98752</P>
      <P>Ville : Beurenville</P>
    </ion-card-content>
    <ion-list>
      <ion-item lines="insert">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button size="full" color="success">Créer l'animation</ion-button>
</ion-content>
