<ion-header>
  <ion-toolbar color="success">
    <ion-button fill="clear" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Mes Animations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-animate-card status="En Attente" createdAt="25/08/22 22:30" updatedAt="26/08/22" 
  notes="Ceci est un test"></app-animate-card>
  <app-animate-card status="En Cours" createdAt="23/08/22 13:23" updatedAt="24/08/22" 
  notes="C'est en cours et il se prépare des choses"></app-animate-card>
  <app-animate-card status="Terminé" createdAt="21/08/22 13:23" updatedAt="23/08/22" 
  notes ="L'endroit ou il fallait être" value="une fête de 150 personnes"> </app-animate-card>
  
  </ion-content>
