<ion-header>
  <ion-toolbar color="success">
    <ion-button  fill="clear" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-button>
    <ion-title>EasyAnimation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="succcess">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn.pixabay.com/photo/2016/05/30/13/05/girl-1424685_960_720.png" >
      </ion-avatar>
      <ion-label>
        <h1>Margot Lafargue</h1>
        <p>Animation :<span class="money" >45</span></p>
      </ion-label>
    </ion-item>

    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn.pixabay.com/photo/2016/05/30/15/39/girl-1424994_960_720.png" >
      </ion-avatar>
      <ion-label>
        <h1>Raphaëlle Lafargue</h1>
        <p>Animation : <span class="money" >30</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  

    <app-animate-card status="En Attente" updatedAt="25/08/2022 15:00" createdAt="23/08/2022"
    notes="Le client est pas sûr du nombre de personne">
    <ion-card-header header>  
      <ion-card-subtitle>Dernière Evénement</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer>Voir tout</ion-button>
    </app-animate-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
